@import "core/variables";
@import "./components/typography";
@import "./layout/footer";
@import "./layout/cardPage";
@import "./layout/form";
@import "./layout/card";
@import "./layout/diseña";
@import "layout/start_page";

body{
    margin:0;
    width: 100vw;
    min-height: 100vh;
    background-color: $color01;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.collapse {
    //animation: collapse 1s linear forwards;
    height: 0;
    transition: all 1s;
}
