$color01: rgb(220, 233, 235);//color verde claro(fondo)
$color02:rgb(73, 135, 160);//azul claro(botones)
$color-light: rgb(255, 255, 255);//blanco
$color-dark: #000000;//negro
$color03:#54585a;//gris oscuro
$color04:#dddddd;//gris claro
$color05: #edeeeb;//gris de fondo
$color02trans:rgba(20, 217, 196, 0.7);
$color01trans:rgba(9, 157, 141, 0.7);
$color-lighttrans:rgba(255, 255, 255, 0.7);