.main{
    display: flex;
    flex-direction: column;
    flex-grow:1;
}

.part_of_form{
    margin: 0 40px 15px 40px;
    min-height: 40vh;
    border-radius:5px;
}

.card_button{
    width: 100px;
    margin-top: 3vw;
    margin-bottom: 10vw;
    margin-left:50vw;
    padding: 5px 10px;
    background-color:$color02;
    color:$color-light;
    border-radius: 9px;
    font-size:0.8rem;
    outline: none;
    @media (min-width:768px) {
        width: 130px;
        margin-left:75vw;
        font-size:1.1rem;
    }
}