.diseño{
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
    height: 150px;
    overflow: hidden;
    transition: all 1s;
        & img{
            width: 69px;
    }
}
.line{
    border-bottom:1px solid #b0b4b6;
    margin-bottom: 5px;
}
.colores{
        display: flex;
        flex-direction: column;
    }

.font{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 20px;
     height: 90px;
}
.fuentes{
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        overflow: hidden;
       
        label:nth-child(1){
            font-family: $font-type-ubuntu;
        }
        label:nth-child(2){
            font-family: $font-type-mali;
        }
        label:nth-child(3){
            font-family:$font-type-montserrat;
        }
    }