.form{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 5px;
     overflow: hidden;
     transition: all 1s;
     @media (min-width:768px) {
       margin:30px;
       height: 300px;
    }
}

.row-form{
    display:flex;
    justify-content: space-between;
    height: 40px;
    label{
        @media (min-width:768px) {
            width:15vw;
        }
    }
    input{
        margin-bottom: 1vh;
        height: 20px;
        border-radius: 2px;
        border: none;
        @media (min-width:768px) {
            width:35vw;
        }
    }
}
#submit{
    width:10vw;
    margin-top:1vw;
    margin-left: 29vw;
    padding: 2px 5px;
    background-color: $color02;
    border-radius: 9px;
    font-size:0.8rem;
    outline: none;
        @media (min-width:768px) {
         width:7vw;
        padding: 2px 5px;
        font-size:1rem;
        margin-left: 20vw;
        }
}
#img-selector{
    margin-left: 1vw;
    margin-right: 3vw;
}
.compart{
    overflow: hidden;
    margin-top:15px;
  
   & i{
    margin-left: 15px;
    }
}
