.form{
display:flex;
flex-direction: column;
}

input{
width: 20vw;
margin-bottom: 1vh;
@media (min-width:768px) {
    width:35vw;
   }
}
label{
    margin-left: 1vw;
    @media (min-width:768px) {
        width:15vw;
       }
}

.row-form{
    display:flex;
    justify-content: space-between;
    margin-right: 10vw;
}
#submit{
    width:10vw;
    margin-top:1vw;
    margin-left: 29vw;
    padding: 2px 5px;
    background-color: $color02;
    border-radius: 9px;
    font-size:0.8rem;
    outline: none;
        @media (min-width:768px) {
         width:7vw;
        padding: 2px 5px;
        font-size:1rem;
        margin-left: 20vw;
        }
}
